<%= form_for resource, url: url do |form| %>
  <% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <% madmin_resource.form_fields.each do |field| %>
    <%= render "#{field.to_partial_path}/form", field: field, form: form, resource: resource %>
  <% end %>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
