<%= form_for resource, url: url do |f| %>
  <% resource.fields.each do |field| %>
    <% if field.editable? %>
      <div>
        <%= f.send(field.input, field.key) %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
