<div class="list-group">
  <%= link_to resources_path(resource.name.downcase.pluralize), class: "list-group-item list-group-item-action #{'active' if params[:scope].blank?}" do %>
    All
  <% end %>
  <% scopes.each do |scope| %>
    <%= link_to resources_path(resource.name.downcase.pluralize, scope: scope.to_s), class: "list-group-item list-group-item-action #{'active' if params[:scope] == scope.to_s}" do %>
      <%= scope.to_s.titleize %>
    <% end %>
  <% end %>
</div>
