<h1><%= resource_name.pluralize %></h1>

<% @resources.each do |resource| %>
  <li>
    <%= link_to resource.id, resource_path(id: resource.id) %>
  </li>
<% end %>

<%= link_to 'New', new_resource_path %>
