<div class="form-group">
  <%= form.label "#{field.key}".to_sym %>
  <%= form.select "#{field.key}_type".to_sym, polymorphic_models(field.key).map { |m| [m.name, m.name, { "data-slug" => Madmin::ResourceDecorator.new(m.new).slug }] }, { include_blank: true }, id: "#{field.key}_type" %>
  <%= form.select "#{field.key}_id".to_sym, [], {}, id: "#{field.key}_id", class: "d-none" %>
</div>

<script>
  window.polymorphicFields = window.polymorphicFields || [];
  window.polymorphicFields.push('<%= field.key %>')
</script>
