<div class="row">
  <div class="col-3">
    <%= field.label %>
  </div>
  <div class="col-9">
    <%=
      link_to field.polymorphic_value_for(resource),
              resource_path(
                field.polymorphic_slug_for(resource),
                field.polymorphic_id_for(resource)
              )
    %>
  </div>
</div>
