<table class="table">
  <thead>
    <% headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </thead>
  <% if collection.any? %>
    <% collection.each do |resource| %>
      <tr>
        <% madmin_resource.index_fields.each do |field| %>
          <td>
            <%=
              render "#{field.to_partial_path}/index",
                     field: field,
                     madmin_resource: madmin_resource,
                     resource: resource
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>No records found</td>
    </tr>
  <% end %>
</table>

<% if show_new_button %>
  <div class="mt-4">
    <%= link_to 'New', new_resource_path, class: "btn btn-primary" %>
  </div>
<% end %>
