<table class="table">
  <thead>
    <% headers.each do |header| %>
      <th><%= header.to_s.titleize %></th>
    <% end %>
  </thead>
  <% collection.each do |resource| %>
    <tr>
      <% resource.index_fields.each do |field| %>
        <td>
          <%= render "#{field.to_partial_path}/index", field: field, resource: resource %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if show_new_button %>
  <div class="mt-4">
    <%= link_to 'New', new_resource_path, class: "btn btn-primary" %>
  </div>
<% end %>
