<div class="mt-3">
  <div class="row">
    <div class="col">
      <h3><%= field.label %></h3>
      <%= link_to "Add", new_resource_path(field.association_slug, field.association_param => { field.association_foreign_key => resource.id }) %>
      <%=
        render "madmin/resources/index/content",
               headers: [],
               collection: field.value_for(resource),
               madmin_resource: madmin_resource_for(model: field.association_class),
               show_new_button: false
      %>
    </div>
  </div>
</div>
