<div class="mt-3">
  <div class="row">
    <div class="col">
      <h3><%= field.name %></h3>
      <%= render "madmin/resources/index/content", headers: [], collection: field.value.map { |v| Madmin::ResourceDecorator.new(v) }, show_new_button: false %>
    </div>
  </div>
</div>
