<nav class="nav bg-dark col-md-2 sidebar px-4 py-3 d-flex flex-column">
  <h3><%= link_to 'Madmin', root_path %></h3>

  <ul class="list-unstyled mt-3">
    <% available_resources.each do |resource| %>
      <% next unless resource.show_in_menu? %>
      <li class="mb-1">
        <%= link_to resource.friendly_name.pluralize, resources_path(resource.slug), class: "text-white" %>
      </li>
    <% end %>
    <% pages.each do |page| %>
      <li class="mb-1">
        <%= link_to page, "#", class: "text-white"%>
      </li>
    <% end %>
  </ul>
</nav>
